//-
    脚本组件
mixin script(desc)

    script(src="/dist/js/vendor/require/require.js")
    script.
        require(['/dist/js/helper/config/require-config.js?v=${initParam.timestamp}'], function () {
            require(['#{desc}']);
        });